h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #4aaaa5;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    /* Moved the background image to the main container. */
    /* background-image: url("../images/spiration-light.png");
    background-color: #777777; */
}

header {
    background-color: #ffffff;
}

footer {
    text-align: center;
    font-size: 50%;
    color: #ffffff;
    background-color: #777777;
    padding: 20px;
}

.headContainer {
    background-color: #ffffff;
    padding-top: 30px;
    width: 960px;
    margin: auto;
    overflow: hidden;
}

.logo {
    background-color: #4aaaa5;
    padding: 10px 30px;
    float: left;
    height: 80px;
}

.navBar {
    float: right;
    height: 80px;
    padding: 10px 30px;
}

.navItem {
    float: left;
    margin: 10px;
    padding-top: 20px;
}

a:link {
    text-decoration: none;
    color: #777777;
}

a:visited {
    text-decoration: none;
    color: #777777;
}

a:hover {
    text-decoration: underline;
    color: #777777;
}

a:active {
    text-decoration: underline;
}

.mainContainer {
    padding: 20px 0px 50px 0px;
    background-image: url("../images/spiration-light.png");
    border-style: solid;
    border-color: #4aaaa5;
    border-right-width: 0;
    border-left-width: 0;
}

.mainContent {
    width: 920px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    overflow: hidden;
    /* border: #777777;
    border-width: 0 10px 0 10px; */
}

.line {
    width: 920px;
    border-bottom: 1px solid #777777;
}

#bioPic {
    float: left;
    margin: 0px 15px 10px 0px;
}

/* Porfolio Page */
/* Gallery Boxes */
.galleryBox {
    width: 300px;
    height: 200px;
    background-color: crimson;
    margin: 0 40px 40px 0;
    float: left;
    position: relative;
}
.galleryLabel {
    width: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 15px 0 15px 0;
    position: absolute;
    bottom: 20px;
    z-index: 10;

}

/* Form Styling */
.formField {
    width: 100%;
